import io.intino.alexandria.Timetag;
import systems.intino.eventsourcing.datalake.Datalake;
import systems.intino.eventsourcing.event.Event;
import systems.intino.eventsourcing.datahub.regenerator.datalake.datahub.Mapper;

public class NewMapper implements Mapper {
	public static final Filter FILTER = new Filter() {
		@Override
		public boolean allow(Event event) {
			return true;
		}

		@Override
		public boolean allow(Datalake.EventStore.Tank tank) {
			return true;
		}

		@Override
		public boolean allow(Datalake.EventStore.Tank tank, Timetag timetag) {
			return true;
		}
	};

	@Override
	public Event apply(Event event) {
		return event;
	}

	@Override
	public Filter filter() {
		return FILTER;
	}

	@Override
	public String description() {
		return "description";
	}
}
